{% extends "template.html" %}

{% block body %}

    <h1>Welcome.</h1>
    
    <p class="welcome">This is the WebUI for the watering system.</p>
    <p class="welcome">Here, you'll be able to track how much<br>     
       your plants are being watered, adjust how<br>
       often they are watered, and much more!</p>
    <p class="welcome">Use the navigation bar at the top to access<br>
       the different functions of this site.</p>
    <p class="welcome">Thanks for using this system! Enjoy!</p>

{% endblock %}